@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Professional Development Tracker</h1>
    <h2>Keep track of your PD opportunities in an easy to manage layout.</h2>
    <div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/developer.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/learninggraphic.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/treeOfKnowledgeBrain.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
