@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Professional Development Tracker</h1>
    <h2>Keep track of your PD opportunities in an easy to manage layout.</h2>
    <img src="~/images/skills.jpg" />
</div>
